/* Style du body */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Style du header */
header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}
header h1 {
  font-size: 24px;
}

header nav ul {
  list-style-type: none;
  padding: 0;
}
header nav ul li {
  display: inline;
  margin-right: 20px;
}
header nav ul li a {
  color: white;
  text-decoration: none;
}

/* Style du main */

main {
  padding: 20px;
}
article {
  margin-bottom: 40px;
}

/* Style du formulaire */

form {
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
form input[type="text"],
form input[type="tel"],
form input[type="date"],
form textarea,
form select,
form button {
  margin-bottom: 15px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
form button {
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}
form button:hover {
  background-color: #555;
}

/* Style du footer */

footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

footer address {
  font-size: 14px;
  margin-top: 10px;
}

footer a {
  color: white;
  text-decoration: none;
}
